.jumbotron {
    text-align: right;
    margin: 3rem 3rem 3rem 3rem;
    padding: 3rem 3rem 3rem 3rem;
    display: flex;
}

.jumbotron .naslovni-tekst{
    text-align: left;
}

img {
    width: 50%;
}

@media only screen and (min-width: 1184px) {
    .jumbotron {
        align-items: center;
    }
}

@media only screen and (max-width: 933px) {
    .jumbotron {
        flex-direction: column;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    .jumbotron .naslovni-tekst{
        text-align: center;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    .jumbotron img {
        width: 100%;
    }
}

.about {
    padding: 6rem 6rem 6rem 6rem;
    display: flex;
    background-color: #F5F6FA;
}

.about .about-tekst{
    text-align: right;
    margin: 3rem 3rem 3rem 3rem;
    padding: 3rem 3rem 3rem 3rem;
}

@media only screen and (min-width: 1184px) {
    .about {
        align-items: center;
    }
}

@media only screen and (max-width: 933px) {
    .about{
        flex-direction: column;
        padding: 3rem 3rem 3rem 3rem;
    }
    .about .about-tekst{
        text-align: center;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    .about img {
        width: 100%;
    }
}

.marke {
    text-align: right;
    margin: 3rem 3rem 3rem 3rem;
    padding: 3rem 3rem 3rem 3rem;
    display: flex;
    align-items: center;
}

.marke .marke-tekst {
    text-align: left;
    margin: 3rem 3rem 3rem 3rem;
    padding: 3rem 3rem 3rem 3rem;
}

.marke .slider {
    max-width: 1200px;
    width: 50%;
    aspect-ratio: 10 / 4;
    margin: 0 auto;
}

@media only screen and (min-width: 1184px) {
    .marke {
        align-items: center;
    }
}

@media only screen and (max-width: 933px) {
    .marke{
        flex-direction: column;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    .marke .marke-tekst{
        text-align: center;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    .marke .slider {
        max-width: 1200px;
        max-height: 150px;
        width: 100%;
        aspect-ratio: 10 / 4;
        margin: 0 auto;
    }
}

.ponuda {
    padding: 3rem 3rem 3rem 3rem;
    background-color: #F5F6FA;
}

.ponuda .ponuda-tekst {
    text-align: center;
    margin: 2rem 2rem 2rem 2rem;
}

@media only screen and (min-width: 1184px) {
    .ponuda {
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        background-color: #F5F6FA;
    }
}

@media only screen and (max-width: 933px) {
    .ponuda{
        padding: 0 0 0 0;
        flex-direction: column;
    }
    .ponuda .ponuda-tekst {
        text-align: center;
        margin: 0 0 0 0;
    }
}